body {
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgb(245, 220, 196);
    font-family: lucida sans;
}

ul {
    list-style-position: inside;
}

h1 {
    font-size: 25px;
}

h2 {font-size: 23px;}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    border-top: 3px dotted rgb(241, 184, 131);
    border-bottom: 3px dotted rgb(241, 184, 131);
    background-color: rgb(255, 255, 255, .25);
}

a {
    text-decoration: none;
    color: black;
}
.content {
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 255, 255, .25);
}

/* Format About ME page */
.about_me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 10%;
}

.profile_photo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.desc {
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.photo {
    border-radius: 50%;
    width: 250px;
    height: auto;
    object-fit: cover;
}

/* Format Projects page */
.projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 65% 35%;
    grid-gap: 5px;
    margin: 0 10%;
}

.project_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project_item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.project_item--2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.project_item--3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

.project_item--4 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

.project_item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.project_item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}
.project_item--7 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Format Patterns page */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
    font-size: 15px;
    align-items: center;
    justify-content: space-around;
}

.pattern {
    width: 180px;
    padding: 10px 0;
}

.pattern_img {
    width: 160px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

/* Format Cool Stuff page */
.wishlist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,25vw);
    grid-gap: 5px;
    margin: 0 10%;
}

.wishlist_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wishlist_item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.wishlist_item--2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.wishlist_item--3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.wishlist_item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.wishlist_item--5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.wishlist_item--6 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
